{% extends "base.html" %}


{% block content %}
<div class="sixteen wide mobile eight wide computer centered column">
        <img src="/static/img/404.png">
        <p>Could not find the page you requested.</p>
        <p>If you are the challenge organizer and this URL previously pointed to a valid competition and it is now missing please contact us at <a href="https://www.aimultimedialab.ro/contact/">https://www.aimultimedialab.ro/contact</a> for more information.
        </p>
        <p> If this is an error, please file a <a href="hhttps://github.com/AIMultimediaLab/AI4MediaBench-AIMultimediaLab/issues/new">bug report</a>. For more information about AI4MediaBench, check out the <a href="https://github.com/AIMultimediaLab/AI4MediaBench-AIMultimediaLab">repository documentation</a>.
        </p>
        <a class="ui fluid blue submit button" href="/">Return to Home</a>
</div>
{% endblock %}
